<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{630,158},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{214,278},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{794,158},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{614,322},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{778,322},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{606,486},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{770,486},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{590,650},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{590,814},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{426,2},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{754,650},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,272}</string>
                <key>spriteSourceSize</key>
                <string>{208,272}</string>
                <key>textureRect</key>
                <string>{{2,2},{208,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,272}</string>
                <key>spriteSourceSize</key>
                <string>{208,272}</string>
                <key>textureRect</key>
                <string>{{2,278},{208,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,272}</string>
                <key>spriteSourceSize</key>
                <string>{208,272}</string>
                <key>textureRect</key>
                <string>{{214,2},{208,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,272}</string>
                <key>spriteSourceSize</key>
                <string>{208,272}</string>
                <key>textureRect</key>
                <string>{{2,554},{208,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{754,814},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{2,830},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{214,482},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{630,2},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{214,638},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{426,206},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{418,362},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{402,518},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{402,674},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{214,794},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,152}</string>
                <key>spriteSourceSize</key>
                <string>{184,152}</string>
                <key>textureRect</key>
                <string>{{402,830},{184,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>symbols.png</string>
            <key>size</key>
            <string>{956,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df784195149b1ea4b228f9855942e804:e269444459d2c275a63a5ff34501a8a2:2bcb29b8f134a5266afa2a321dc3b770$</string>
            <key>textureFileName</key>
            <string>symbols.png</string>
        </dict>
    </dict>
</plist>
